<h1><%= @review.movie.title %></h1>
<%= form_for([@review.user, @review]) do |f| %>
  <%= render partial: 'form', locals: {f: f}%>
<% end %>
<%= button_to 'delete', user_review_path(@review.user, @review), method: :delete %>